/* for buttons, have 4 x images with text in the center. The text will be a link to open that page
Add a hover effect to the text */
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    background-color: rgb(223, 222, 222);
}
/*
ul{
    display: inline;
    background-color: aqua;
}

li{
    list-style: none;
}

/*.account-navbar{ /* use bootstrap styling for this 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: rgb(0, 255, 255);
    color: white;
    /* not finished yet */
/* } */

.logo{ /* use bootstrap styling for this */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* .category-navbar{ /* use bootstrap styling for this 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgba(0, 255, 255, 0.87);
    color: white;
} */

.search{
    margin: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.srch{
    background-color: white;
}

.btn{
    background-color: white;
    padding: 0 10px;
    width: 100px;
}

.btn:hover{
    cursor: pointer;
    background-color: aqua;
}
.flex-container{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-box{
    width: 50%;
    height: 200px;
    /*background: blue;*/
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
}

#breakfast{
    background-image: url("../Images/homepage_breakfast.jpg");
    height: 200px;
    width: 500px;
}

#lunch{
    background-image: url("../Images/homepage_lunch.jpg");
    height: 200px;
    width: 500px;
}

#dinner{
    background-image: url("../Images/homepage_dinner.jpg");
    height: 200px;
    width: 500px;
}

#dessert{
    background-image: url("../Images/homepage_dessert.webp");
    height: 200px;
    width: 500px;
}

#breakfast:hover{
    cursor: pointer;
    background-color: aqua;
    color: black;
}

#lunch:hover{
    cursor: pointer;
    background-color: aqua;
    color: black;
}

#dinner:hover{
    cursor: pointer;
    background-color: aqua;
    color: black;
}

#dessert:hover{
    cursor: pointer;
    background-color: aqua;
    color: black;
}